# Ignore build output
bin/
obj/

# Ignore Visual Studio folder
.vs/

# Ignore SQLite files
slnx.sqlite

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# VS Code settings
.vscode/

# NuGet packages
*.nupkg
# Package restore files
project.lock.json
project.assets.json
project.nuget.cache

# Debug/Release folders
**/Debug/
**/Release/

# Others
*.log
*.DS_Store
Thumbs.db
